@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Asterisk means we are targeting the entire page */
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
    scroll-behavior: smooth;
}

.main-buttons    {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliding-panel {
    position: fixed;
    top: 0;
    right: -100%; /* Hide the panel to the right of the screen */
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.4s ease; /* Smooth transition for sliding */
    z-index: 1000; /* Ensure it covers other content */
}

.sliding-panel.active {
    right: 0; /* Slide the panel into view */
}

.open-panel-btn, .close-panel-btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 11rem;
    border-radius: 2rem;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.close-panel-btn {
    background-color: white;
    color: black;
} 


/* POMODORO TIMER */

.timer {
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
}

#start-timer-btn, #reset-timer-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    display: block;
    width: 100%; /* Full width of the container */
}

#reset-timer-btn {
    background-color: #FF5733;
}

#time-input {
    padding: 5px;
    font-size: 16px;
    width: 60px;
    margin-top: 10px;
}

/* FOOTER */
footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }